In [1]:
import cassandra

In [2]:
from cassandra.cluster import Cluster
try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print(e)

In [3]:
try:
    session.execute("""Select * from songs_libary""")
except Exception as e:
    print(e)

Error from server: code=2200 [Invalid query] message="No keyspace has been specified. USE a keyspace, or explicitly specify keyspace.tablename"

In [4]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity_db
    WITH REPLICATION = 
    {'class': 'SimpleStrategy', 'replication_factor': 1}"""
)
except Exception as e:
    print(e)

In [5]:
try:
    session.set_keyspace("udacity_db")
except Exception as e:
    print(e)

In [6]:
query= "CREATE TABLE IF NOT EXISTS songs_library "
query = query + "(song_title text, artist_name text, year int, album_name text, single boolean, PRIMARY KEY (year, artist_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [7]:
query= "Select count(*) from songs_library"
try:
    count = session.execute(query)
except Exception as e:
    print(e)

In [9]:
query = "INSERT INTO songs_library (song_title, artist_name, year, album_name, single)"
query = query + " VALUES (%s, %s, %s, %s, %s)"
try:
    session.execute(query, ("Across The Universe", "The Beatles", 1970, "Let It be", False))
except Exception as e:
    print(e)

    
try:
    session.execute(query, ("Think For Youself", "The Beatles", 1965, "Rubber Soul", False))
except Exception as e:
    print(e)

In [11]:
query = 'Select * from songs_library'
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print(row.year, row.album_name, row.artist_name, row.song_title, row.single)

1965 Rubber Soul The Beatles Think For Youself False
1970 Let It be The Beatles Across The Universe False

In [21]:
query = "Select * from songs_library where year=1970 and artist_name='The Beatles'"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print(row.year, row.album_name, row.artist_name)

1970 Let It be The Beatles

In [22]:
session.shutdown()
cluster.shutdown()