## Demo 01: Sakila Star Schema & ETL

In [1]:
pip install psycopg2-binary

Defaulting to user installation because normal site-packages is not writeable
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.3; however, version 22.2.2 is available.
You should consider upgrading via the 'C:\Program Files\Anaconda3\python.exe -m pip install --upgrade pip' command.

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.3-cp39-cp39-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 592.6 kB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.3

In [2]:
pip install ipython-sql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in c:\users\arqab raza\appdata\roaming\python\python39\site-packages (0.4.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\program files\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\arqab raza\appdata\roaming\python\python39\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: prettytable<1 in c:\users\arqab raza\appdata\roaming\python\python39\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\program files\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: sqlparse in c:\users\arqab raza\appdata\roaming\python\python39\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: six in c:\program files\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: traitlets>=4.2 in c:\program files\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: colorama in c:\program files\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pickleshare in c:\program files\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in c:\program files\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: jedi>=0.16 in c:\program files\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: matplotlib-inline in c:\program files\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: setuptools>=18.5 in c:\program files\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: backcall in c:\program files\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\program files\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: pygments in c:\program files\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\program files\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\program files\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.3; however, version 22.2.2 is available.
You should consider upgrading via the 'C:\Program Files\Anaconda3\python.exe -m pip install --upgrade pip' command.

In [3]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\program files\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\program files\anaconda3\lib\site-packages (from pandas) (2021.3)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.3; however, version 22.2.2 is available.
You should consider upgrading via the 'C:\Program Files\Anaconda3\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: numpy>=1.17.3 in c:\program files\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\program files\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\program files\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

## Step0: Using ipython-sql

-- load pyhton sql using %load_ext sql

## Step1 : Connect to local database where Pagila is loaded

In [14]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [15]:
# connection
conn_string = "postgresql://postgres:707707@localhost:5432/pagila"
print(conn_string)

postgresql://postgres:707707@localhost:5432/pagila

In [16]:
%sql $conn_string

In [21]:
nStores = %sql select count(*) from store;
nFilms = %sql select count(*) from film;
nCustomers = %sql select count(*) from customer;
nRentals = %sql select count(*) from rental;
nPayment = %sql select count(*) from payment;
nStaff = %sql select count(*) from staff;
nCity = %sql select count(*) from city;
nCountry = %sql select count(*) from country;




print("nStores\t\t=", nStores[0][0])
print("nFilms\t\t=", nFilms[0][0])
print("nCustomers\t=", nCustomers[0][0])
print("nRentals\t=", nRentals[0][0])
print("nPayment\t=", nPayment[0][0])
print("nStaff\t\t=", nStaff[0][0])
print("nCity\t\t=", nCity[0][0])
print("nCountry\t=", nCountry[0][0])

 * postgresql://postgres:***@localhost:5432/pagila
1 rows affected.
 * postgresql://postgres:***@localhost:5432/pagila
1 rows affected.
 * postgresql://postgres:***@localhost:5432/pagila
1 rows affected.
 * postgresql://postgres:***@localhost:5432/pagila
1 rows affected.
 * postgresql://postgres:***@localhost:5432/pagila
1 rows affected.
 * postgresql://postgres:***@localhost:5432/pagila
1 rows affected.
 * postgresql://postgres:***@localhost:5432/pagila
1 rows affected.
 * postgresql://postgres:***@localhost:5432/pagila
1 rows affected.
nStores		= 2
nFilms		= 1000
nCustomers	= 599
nRentals	= 16044
nPayment	= 16049
nStaff		= 2
nCity		= 600
nCountry	= 109

## When? What time period are we talking about?

In [26]:
%%sql
select min(rental_date) as start, max(rental_date) as end from rental;

 * postgresql://postgres:***@localhost:5432/pagila
1 rows affected.

[(datetime.datetime(2005, 5, 24, 22, 53, 30), datetime.datetime(2006, 2, 14, 15, 16, 3))]

## Where ? Where do events in this database occur?

In [27]:
%%sql
select district, sum(city_id) as n
from address
group by district
order by n desc
limit 10;

 * postgresql://postgres:***@localhost:5432/pagila
10 rows affected.

[('Shandong', 3237),
 ('England', 2974),
 ('So Paulo', 2952),
 ('West Bengali', 2623),
 ('Buenos Aires', 2572),
 ('Uttar Pradesh', 2462),
 ('California', 2444),
 ('Southern Tagalog', 1931),
 ('Tamil Nadu', 1807),
 ('Hubei', 1790)]