## Creating Denormalized Table

In [1]:
import psycopg2

In [2]:
try:
    conn = psycopg2.connect("host=localhost dbname=udacity_db user=postgres password= 707707")

except psycopg2.Error as e:
    print("Error: Could not make the connection to PostgreSQl Database")
    print(e)
    
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error: could not get curser to the Database")
    print(e)
    
conn.set_session(autocommit=True)

In [4]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS song_lenght (song_id int, song_lenght int);")
except psycopg2.Error as e:
    print("Error: Issue in Creating table")
    print(e)

In [5]:
try:
    cur.execute("INSERT INTO song_lenght (song_id, song_lenght)\
                VALUES (%s, %s)",\
                (1, 163))
except psycopg2.Error as e:
    print("Error: Inserting Row")
    print(e)
    
try:
    cur.execute("INSERT INTO song_lenght (song_id, song_lenght)\
                VALUES (%s, %s)",\
                (2, 137))
except psycopg2.Error as e:
    print("Error: Inserting Row")
    print(e)
    
    
try:
    cur.execute("INSERT INTO song_lenght (song_id, song_lenght)\
                VALUES (%s, %s)",\
                (3, 145))
except psycopg2.Error as e:
    print("Error: Inserting Row")
    print(e)  
    
    
try:
    cur.execute("INSERT INTO song_lenght (song_id, song_lenght)\
                VALUES (%s, %s)",\
                (4, 240))
except psycopg2.Error as e:
    print("Error: Inserting Row")
    print(e)  
    
    
try:
    cur.execute("INSERT INTO song_lenght (song_id, song_lenght)\
                VALUES (%s, %s)",\
                (5, 227))
except psycopg2.Error as e:
    print("Error: Inserting Row")
    print(e)

In [7]:
try:
    cur.execute("select * from album_library3;")
except psycopg2.Error as e:
    print("Error: select *")
    print(e)

print("\nTable: ALBUM LIBRARY \n")
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()
    

print("\n Table: SONGS LIBRARY \n")
try:
    cur.execute("select * from song_library3;")
except psycopg2.Error as e:
    print("Error: select *")
    print(e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()
    
    
try:
    cur.execute("select * from artist_library;")
except psycopg2.Error as e:
    print("Error: select *")
    print(e)

print("\nTable: ARTIST LIBRARY \n")
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()
    

try:
    cur.execute("select * from song_lenght;")
except psycopg2.Error as e:
    print("Error: select *")
    print(e)

print("\nTable: SONGS LENGHT in Second\n")
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

Table: ALBUM LIBRARY

(1, 'Rubber Soul', 1, 1965)
(2, 'Let It Be', 1, 1970)

 Table: SONGS LIBRARY

(1, 1, 'The Michelle')
(1, 2, 'Think For YourSelf')
(1, 3, 'In My Life')
(2, 4, 'Let it Be')
(2, 5, 'Across The Univers')

Table: ARTIST LIBRARY

(1, 'The Beatles')

Table: SONGS LENGHT in Second

(1, 163)
(2, 137)
(3, 145)
(4, 240)
(5, 227)

In [19]:
try:
    cur.execute("SELECT artist_library.artist_id, artist_name, album_library3.album_id, album_name, year,song_library3.song_id, song_name, song_lenght FROM (( artist_library JOIN album_library3 ON \
                                artist_library.artist_id = album_library3.artist_id) JOIN\
                song_library3 ON song_library3.album_id = album_library3.album_id) JOIN song_lenght ON song_library3.song_id = song_lenght.song_id;;")
except psycopg2.Error as e:
    print("Error: Issue in Creating table")
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'The Beatles', 1, 'Rubber Soul', 1965, 1, 'The Michelle', 163)
(1, 'The Beatles', 1, 'Rubber Soul', 1965, 2, 'Think For YourSelf', 137)
(1, 'The Beatles', 1, 'Rubber Soul', 1965, 3, 'In My Life', 145)
(1, 'The Beatles', 2, 'Let It Be', 1970, 4, 'Let it Be', 240)
(1, 'The Beatles', 2, 'Let It Be', 1970, 5, 'Across The Univers', 227)

In [21]:
## Query 1: Select artist_name , album_name, year, song_name, song_lenght FROM <minimum number of tables>

try:
    cur.execute("SELECT artist_library.artist_name, album_library3.album_name, year, song_library3.song_name, song_lenght FROM (( artist_library JOIN album_library3 ON \
                                artist_library.artist_id = album_library3.artist_id) JOIN\
                song_library3 ON song_library3.album_id = album_library3.album_id) JOIN song_lenght ON song_library3.song_id = song_lenght.song_id;;")
except psycopg2.Error as e:
    print("Error: Issue in Creating table")
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

('The Beatles', 'Rubber Soul', 1965, 'The Michelle', 163)
('The Beatles', 'Rubber Soul', 1965, 'Think For YourSelf', 137)
('The Beatles', 'Rubber Soul', 1965, 'In My Life', 145)
('The Beatles', 'Let It Be', 1970, 'Let it Be', 240)
('The Beatles', 'Let It Be', 1970, 'Across The Univers', 227)

In [32]:
## Query 2: Select album_name , SUM(song_lenght) FROM <minimum number of tables> GROUPBY album_name

try:
    cur.execute("SELECT album_library3.album_name, SUM(song_lenght.song_lenght) FROM (song_lenght JOIN song_library3 ON song_library3.song_id = song_lenght.song_id)\
                JOIN album_library3 ON song_library3.album_id = album_library3.album_id GROUP BY album_library3.album_name;")
except psycopg2.Error as e:
    print("Error: Issue in Creating table")
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

('Rubber Soul', 445)
('Let It Be', 467)

In [33]:
## Query 1: Select artist_name, album_name, year, song_name, song_lenght FROM <minimum number of tables> using Denoramlization
## first add song_lenght to song_library tables and artisit_name to album_library tables

try:
    cur.execute("CREATE TABLE IF NOT EXISTS song_library4 (album_id int, song_id int, song_name varchar, song_lenght int);")
except psycopg2.Error as e:
    print("Error: Issue in Creating table")
    print(e)

In [35]:
try:
    cur.execute("INSERT INTO song_library4 (album_id, song_id, song_name, song_lenght)\
                VALUES (%s, %s,%s, %s)",\
                (1, 1, "The Michelle", 163))
except psycopg2.Error as e:
    print("Error: Inserting Row")
    print(e)
    
    
try:
    cur.execute("INSERT INTO song_library4 (album_id, song_id, song_name, song_lenght)\
                VALUES (%s, %s,%s, %s)",\
                (1, 2, "Think For YourSelf", 137))
except psycopg2.Error as e:
    print("Error: Inserting Row")
    print(e)
    
try:
    cur.execute("INSERT INTO song_library4 (album_id, song_id, song_name, song_lenght)\
                VALUES (%s, %s,%s, %s)",\
                (1, 3, "In My Life", 145))
except psycopg2.Error as e:
    print("Error: Inserting Row")
    print(e)
    
try:
    cur.execute("INSERT INTO song_library4 (album_id, song_id, song_name, song_lenght)\
                VALUES (%s, %s,%s, %s)",\
                (2, 4, "Let it Be", 240))
except psycopg2.Error as e:
    print("Error: Inserting Row")
    print(e)
    

try:
    cur.execute("INSERT INTO song_library4 (album_id, song_id, song_name, song_lenght)\
                VALUES (%s, %s,%s, %s)",\
                (2, 5, "Across The Univers", 227))
except psycopg2.Error as e:
    print("Error: Inserting Row")
    print(e)

In [36]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS album_library4 (album_id int, album_name varchar, artist_id int, year int, artist_name varchar);")
except psycopg2.Error as e:
    print("Error: Issue in Creating table")
    print(e)

In [37]:
try:
    cur.execute("INSERT INTO album_library4 (album_id, album_name, artist_id, year, artist_name)\
                VALUES (%s, %s,%s, %s, %s)",\
                (1, "Rubber Soul", 1, 1965, "The Beatles"))
except psycopg2.Error as e:
    print("Error: Inserting Row")
    print(e)
    
    
try:
    cur.execute("INSERT INTO album_library4 (album_id, album_name, artist_id, year, artist_name)\
                VALUES (%s, %s,%s, %s, %s)",\
                (2, "Let It Be", 1, 1970, "The Beatles"))
except psycopg2.Error as e:
    print("Error: Inserting Row")
    print(e)

In [39]:
## Query 1

try:
    cur.execute("SELECT album_library4.artist_name, album_name, year, song_library4.song_name, song_lenght FROM album_library4 JOIN\
                song_library4 ON  album_library4.album_id = song_library4.album_id")
except psycopg2.Error as e:
    print("Error: Issue in Creating table")
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

('The Beatles', 'Rubber Soul', 1965, 'The Michelle', 163)
('The Beatles', 'Rubber Soul', 1965, 'Think For YourSelf', 137)
('The Beatles', 'Rubber Soul', 1965, 'In My Life', 145)
('The Beatles', 'Let It Be', 1970, 'Let it Be', 240)
('The Beatles', 'Let It Be', 1970, 'Across The Univers', 227)

In [40]:
## Query 2: Select album_name , SUM(song_lenght) FROM <minimum number of tables> GROUPBY album_name

try:
    cur.execute("SELECT album_library4.album_name, SUM(song_library4.song_lenght) FROM album_library4 JOIN song_library4 \
    ON album_library4.album_id = song_library4.album_id GROUP BY album_library4.album_name;")
except psycopg2.Error as e:
    print("Error: Issue in Creating table")
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

('Rubber Soul', 445)
('Let It Be', 467)